<!DOCTYPE html>
<html>
  <head>
    <title>PrivatePosts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "Home", root_path %>

        <% if logged_in? %>
          <%= link_to "New Post", new_post_path %>
          <%= link_to "My Posts", posts_path %>
          <%= link_to "Log out", logout_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "Sign Up", signup_path %>
          <%= link_to "Log In", login_path %>
        <% end %>
      </nav>

      <% flash.each do |key, value| %>
        <p class="flash <%= key %>"><%= value %></p>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
